.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input2{
  width: 328px;
  height: 32px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

input{
  padding: 5px 0;
}

form{
  display: flex;
  flex-direction: column;
}

h1{
  margin-bottom: 20px;
  color: black;
}

label{
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

button{
  height: 50px;
  margin-top: 15px;
  background-color: rgb(218, 255, 6);
  border-radius: 10px;
  border: 1px solid rgb(8, 68, 6);
  box-shadow: 1px 2px 3px #282c34;
  font-size: 20px;
  font-weight: bold;
}

.error{
  font-size: 12px;
  color: rgb(255, 6, 102);
}

td{
  width: 100%;
}